//====================================================================================================
.page {

	&__profile {
		margin-top: 3.125rem;
		margin-bottom: 2rem;
	}
}
.profile {

	&__container {
		padding-bottom: 4.5rem;
		border-bottom: 1px solid #F8F8FA;
	}

	&__title {
		margin-bottom: 2.6875rem;
		@media (max-width:$mobile){
			 margin-bottom: 1.25rem; 
		}
	}

	&__text {
		margin-bottom: 1.875rem;
		@media (max-width:$mobile){
			 margin-bottom: 1.25rem; 
		}
	}

	&__form {
		display: flex;
		align-items: center;
		gap: 30px;
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
	}
}
.title {
}
.text {
}
.form {

	&__item {
		position: relative;
		width: 20.625rem;
		max-width: 20.625rem;
		@media (max-width:$mobile){
			 max-width: 100%;
			 width: 100%; 
		}
	}

	&__label {
		display: flex;
		align-items: center;
		column-gap: 16px;
		//  margin-bottom: 3px;
	}

	&__label-text {
		margin-bottom: 7px;
	}

	&__label-banner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		background-color: #FFB911;
		border-radius: 100%;
		transform: translateY(-3px);
		span {
			font-weight: 700;
			font-size: 13px;
			line-height: math.div(24 , 13);
			color: white;
		}
	}

	&__input {
		
	}

	&__action {
		position: absolute;
		margin-top: 3px;
		top: 100%;
		right: 0;
	}

	&__action-btn {
	}
}
.form-one {
}
.input {
}

//====================================================================================================
